<div>
  <h2 id="page-heading" data-cy="SpecifikacijeHeading">
    <span jhiTranslate="tenderiApp.specifikacije.home.title">Specifikacijes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tenderiApp.specifikacije.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-specifikacije"
        [routerLink]="['/specifikacije/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tenderiApp.specifikacije.home.createLabel"> Create a new Specifikacije </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="specifikacijes?.length === 0">
    <span jhiTranslate="tenderiApp.specifikacije.home.notFound">No specifikacijes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="specifikacijes && specifikacijes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sifraPostupka">
            <span jhiTranslate="tenderiApp.specifikacije.sifraPostupka">Sifra Postupka</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="brojPartije">
            <span jhiTranslate="tenderiApp.specifikacije.brojPartije">Broj Partije</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="atc"><span jhiTranslate="tenderiApp.specifikacije.atc">Atc</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="inn"><span jhiTranslate="tenderiApp.specifikacije.inn">Inn</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="farmaceutskiOblikLijeka">
            <span jhiTranslate="tenderiApp.specifikacije.farmaceutskiOblikLijeka">Farmaceutski Oblik Lijeka</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="jacinaLijeka">
            <span jhiTranslate="tenderiApp.specifikacije.jacinaLijeka">Jacina Lijeka</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="trazenaKolicina">
            <span jhiTranslate="tenderiApp.specifikacije.trazenaKolicina">Trazena Kolicina</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pakovanje">
            <span jhiTranslate="tenderiApp.specifikacije.pakovanje">Pakovanje</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="jedinicaMjere">
            <span jhiTranslate="tenderiApp.specifikacije.jedinicaMjere">Jedinica Mjere</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="procijenjenaVrijednost">
            <span jhiTranslate="tenderiApp.specifikacije.procijenjenaVrijednost">Procijenjena Vrijednost</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let specifikacije of specifikacijes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/specifikacije', specifikacije.id, 'view']">{{ specifikacije.id }}</a>
          </td>
          <td>{{ specifikacije.sifraPostupka }}</td>
          <td>{{ specifikacije.brojPartije }}</td>
          <td>{{ specifikacije.atc }}</td>
          <td>{{ specifikacije.inn }}</td>
          <td>{{ specifikacije.farmaceutskiOblikLijeka }}</td>
          <td>{{ specifikacije.jacinaLijeka }}</td>
          <td>{{ specifikacije.trazenaKolicina }}</td>
          <td>{{ specifikacije.pakovanje }}</td>
          <td>{{ specifikacije.jedinicaMjere }}</td>
          <td>{{ specifikacije.procijenjenaVrijednost }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/specifikacije', specifikacije.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/specifikacije', specifikacije.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(specifikacije)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="specifikacijes && specifikacijes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
