<button class="btn btn-primary">MSG</button>
<div>
  <h2 id="page-heading" data-cy="ProbaHeading">
    <span jhiTranslate="tenderiApp.proba.home.title">Probas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tenderiApp.proba.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-proba"
        [routerLink]="['/proba/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tenderiApp.proba.home.createLabel"> Create a new Proba </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="probas?.length === 0">
    <span jhiTranslate="tenderiApp.proba.home.notFound">No probas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="probas && probas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="tenderiApp.proba.broj">Broj</span></th>
          <th scope="col"><span jhiTranslate="tenderiApp.proba.ime">Ime</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proba of probas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/proba', proba.id, 'view']">{{ proba.id }}</a>
          </td>
          <td>{{ proba.broj }}</td>
          <td>{{ proba.ime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/proba', proba.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/proba', proba.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(proba)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
