<div>
  <h2 id="page-heading" data-cy="VrednovanjeHeading">
    <span jhiTranslate="tenderiApp.vrednovanje.home.title">Vrednovanjes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tenderiApp.vrednovanje.home.refreshListLabel">Refresh List</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vrednovanjes?.length === 0">
    <span jhiTranslate="tenderiApp.vrednovanje.home.notFound">No vrednovanjes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="vrednovanjes && vrednovanjes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sifraPostupka">
            <span jhiTranslate="tenderiApp.vrednovanje.sifraPostupka">Sifra Postupka</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sifraPonude">
            <span jhiTranslate="tenderiApp.vrednovanje.sifraPonude">Sifra Ponude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="brojPartije">
            <span jhiTranslate="tenderiApp.vrednovanje.brojPartije">Broj Partije</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nazivProizvodjaca">
            <span jhiTranslate="tenderiApp.vrednovanje.nazivProizvodjaca">Naziv Proizvodjaca</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="zasticeniNaziv">
            <span jhiTranslate="tenderiApp.vrednovanje.zasticeniNaziv">Zasticeni Naziv</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ponudjenaVrijednost">
            <span jhiTranslate="tenderiApp.vrednovanje.ponudjenaVrijednost">Ponudjena Vrijednost</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rokIsporuke">
            <span jhiTranslate="tenderiApp.vrednovanje.rokIsporuke">Rok Isporuke</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="jedinicnaCijena">
            <span jhiTranslate="tenderiApp.vrednovanje.jedinicnaCijena">Jedinicna Cijena</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nazivPonudjaca">
            <span jhiTranslate="tenderiApp.vrednovanje.nazivPonudjaca">Naziv Ponudjaca</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="atc"><span jhiTranslate="tenderiApp.vrednovanje.atc">Atc</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="trazenaKolicina">
            <span jhiTranslate="tenderiApp.vrednovanje.trazenaKolicina">Trazena Kolicina</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="procijenjenaVrijednost">
            <span jhiTranslate="tenderiApp.vrednovanje.procijenjenaVrijednost">Procijenjena Vrijednost</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vrstaPostupka">
            <span jhiTranslate="tenderiApp.vrednovanje.vrstaPostupka">Vrsta Postupka</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bodCijena">
            <span jhiTranslate="tenderiApp.vrednovanje.bodCijena">Bod Cijena</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bodRok">
            <span jhiTranslate="tenderiApp.vrednovanje.bodRok">Bod Rok</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bodUkupno">
            <span jhiTranslate="tenderiApp.vrednovanje.bodUkupno">Bod Ukupno</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vrednovanje of vrednovanjes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vrednovanje', vrednovanje.id, 'view']">{{ vrednovanje.id }}</a>
          </td>
          <td>{{ vrednovanje.sifraPostupka }}</td>
          <td>{{ vrednovanje.sifraPonude }}</td>
          <td>{{ vrednovanje.brojPartije }}</td>
          <td>{{ vrednovanje.nazivProizvodjaca }}</td>
          <td>{{ vrednovanje.zasticeniNaziv }}</td>
          <td>{{ vrednovanje.ponudjenaVrijednost }}</td>
          <td>{{ vrednovanje.rokIsporuke }}</td>
          <td>{{ vrednovanje.jedinicnaCijena }}</td>
          <td>{{ vrednovanje.nazivPonudjaca }}</td>
          <td>{{ vrednovanje.atc }}</td>
          <td>{{ vrednovanje.trazenaKolicina }}</td>
          <td>{{ vrednovanje.procijenjenaVrijednost }}</td>
          <td>{{ vrednovanje.vrstaPostupka }}</td>
          <td>{{ vrednovanje.bodCijena }}</td>
          <td>{{ vrednovanje.bodRok }}</td>
          <td>{{ vrednovanje.bodUkupno }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vrednovanje', vrednovanje.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="vrednovanjes && vrednovanjes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
