<div>
  <h2 id="page-heading" data-cy="PostupciHeading">
    <span jhiTranslate="tenderiApp.postupci.home.title">Postupcis</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tenderiApp.postupci.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-postupci"
        [routerLink]="['/postupci/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tenderiApp.postupci.home.createLabel"> Create a new Postupci </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="postupcis?.length === 0">
    <span jhiTranslate="tenderiApp.postupci.home.notFound">No postupcis found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="postupcis && postupcis.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sifraPostupka">
            <span jhiTranslate="tenderiApp.postupci.sifraPostupka">Sifra Postupka</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="brojTendera">
            <span jhiTranslate="tenderiApp.postupci.brojTendera">Broj Tendera</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="opisPostupka">
            <span jhiTranslate="tenderiApp.postupci.opisPostupka">Opis Postupka</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vrstaPostupka">
            <span jhiTranslate="tenderiApp.postupci.vrstaPostupka">Vrsta Postupka</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="datumObjave">
            <span jhiTranslate="tenderiApp.postupci.datumObjave">Datum Objave</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="datumOtvaranja">
            <span jhiTranslate="tenderiApp.postupci.datumOtvaranja">Datum Otvaranja</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="kriterijumCijena">
            <span jhiTranslate="tenderiApp.postupci.kriterijumCijena">Kriterijum Cijena</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="drugiKriterijum">
            <span jhiTranslate="tenderiApp.postupci.drugiKriterijum">Drugi Kriterijum</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let postupci of postupcis; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/postupci', postupci.id, 'view']">{{ postupci.id }}</a>
          </td>
          <td>{{ postupci.sifraPostupka }}</td>
          <td>{{ postupci.brojTendera }}</td>
          <td>{{ postupci.opisPostupka }}</td>
          <td>{{ postupci.vrstaPostupka }}</td>
          <td>{{ postupci.datumObjave | formatMediumDate }}</td>
          <td>{{ postupci.datumOtvaranja | formatMediumDate }}</td>
          <td>{{ postupci.kriterijumCijena }}</td>
          <td>{{ postupci.drugiKriterijum }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/postupci', postupci.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/postupci', postupci.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(postupci)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="postupcis && postupcis.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
